extends layout

block content
	div.container
		h1 AP Content API Example
		p An example of using the Associated Press Content 
			a(href='https://github.com/TheAssociatedPress/APISamples', target='_blank') API
			|  to display photos from search terms. Download the 
			a(href='https://github.com/TheAssociatedPress/APISamples/tree/master/APContentAPI/node', target='_blank') source code
			|  and try it yourself. Created with node.js and Twitter Bootstrap. 

		p
			form
				input#keyword(type='text', name='keyword', value='#{keyword}')
				input(type='submit')

		.panel.panel-default
			.panel-heading
				| #{results.totalResults} total results
			.panel-body
				each result, i in results.entries
					ul.media-list
						li.media
							.pull-left
								-var found = false
								each link, j in result.contentLinks
									if (link.rel == 'thumbnail' && !found)
										img.media-object(src='#{link.href + "&apiKey=" + apiKey}', alt='#{link.title}', title='#{link.title}', width=128, height=85)
										-found = true
							.media-body
								h4.media-heading #{result.title}
								p #{result.contentxhtml.replace(/<(?:.|\n)*?>/gm, '')}